<!DOCTYPE html>
<html>
  <head>
    <title>ERB bowling</title>
  </head>

  <body>
<<<<<<< HEAD
    <h1>Buster's Best Bowling Alley</h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
=======
    <p>Please start Bowling!</p>
>>>>>>> f67fae6dc8c883d10ab09c91b816287e318b7494
    <p>97 Bowling Alley Lane, Boulder CO </p>
  </body>
</html>
